# Swift Package Manager
.build/
.swiftpm/

# Xcode
*.xcodeproj/xcuserdata/
*.xcworkspace/xcuserdata/
*.xcworkspace/contents.xcworkspacedata
*.xcuserstate
*.moved-aside
DerivedData/
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# macOS
.DS_Store
._*

# Preview / docs images
docs_ui_preview.png
